.preferences .profile .body {
    float: right;
    margin: 20px 0;
    display: flex;
    padding: 10000px;
    align-items: center;
    border-radius: 15px;
    box-shadow: 3px 10px 15px hsl(0deg 0% 0% / 0.31);
  }

  .preferences .profile .body {
    text-align: left;
  }
  
  .preferences .profile .avatar .avatar-wrapper {
    position: relative;
  }
    
